.myselect {
    padding: 6px 12px;
    border-radius: 1px;
    font-size: 14px;
    border: 1px solid #e5e6e7;
    background-color: #FFFFFF;
}

.bars {
    margin-left: -13%;
}

/*解决监控模态框在切换时间区间造成滚动条消失问题*/
.monitor_model_overflow {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}

.net_card_box .controls {
    display: table;
}

.net_card_box .has-net-cart {
    /*width:481px;*/
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    display: table-header-group;
}

.net_card_box .cart_item label {
    vertical-align: middle;
    line-height: 1;
    margin-bottom: 0px;
}

.net_card_box .cart_item input {
    vertical-align: middle;
    margin-top: 0px;
}

/*.cart_body :after {*/
/*clear: both;*/
/*content: '.';*/
/*display: block;*/
/*width: 0;*/
/*height: 0;*/
/*visibility: hidden;*/
/*}*/
u {
    text-decoration: none;
}

/*==for FF/chrome/opera/IE8==*/
.cart_head {
    display: table-row;
}

.cart_caption {
    display: table-caption;
    font-family: sans-serif, Verdana;
    color: coral;
}

.net_card_box .controls span {
    /*float:left;*/
    /*width:120px;*/
    padding: 0 5px;
    height: 30px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    display: table-cell;
}

.net_card_box .cart_body {
    display: table-row-group;
}

.net_card_box .cart_item {
    display: table-row;
}

/*.net_card_box .cart_item span{*/
/*display: table-cell;*/
/*}*/

div.columns.columns-right.btn-group.pull-right {
    /*margin-right: 5%;*/
}
.queryBox{
    position: absolute;
    width: 600px;
    height: 34px;
    top: 0;
    right: 210px;
    box-sizing: border-box;
}

.clone_box {
    position: absolute;
    width: 80px;
    top: -46px;
    /*top: -9px;*/
    left: -81px;
    background: #fff;
    cursor: default;
    display: none;
}

.cloneVm:hover .clone_box {
    display: block;
}

.clone_box li:hover {
    background: #f5f5f5;
}

#vm-clone-create-modal .item {
    margin-bottom: 10px;
}

#vm-clone-create-modal .item div {
    display: inline-block;
    font-size: 13px;
}

#vm-clone-create-modal .item > div:first-child {
    width: 100px;
    text-align: left;
    line-height: 30px;
}

.cpu-list div.optionsmall, .mem-list div.optionsmall {
    line-height: 30px;
}

.cpu-list div.optionsmall.selected, .mem-list div.optionsmall.selected {
    background-color: #00C1DE;
}

.cpu-list div.optionsmall.disabled, .mem-list div.optionsmall.disabled {
    cursor: no-drop;
    background: #eee;
    color: #777;
}

/*修改VM配置IP功能样式*/
i.editIp {
    display: inline;
    color: #0e9aef;
    cursor: pointer;
    font-size: 18px;
}

.select2-container {
    z-index: 5000;
}

/*修改VM配置IP功能样式*/
#ex1Slider .slider-selection {
    background: #0e9aef;
}

div.tooltip {
    opacity: 1;
}

.tooltip.tooltip-max, .tooltip.tooltip-min {
    opacity: 0;
}

.slider.slider-horizontal {
    width: 220px;
    margin-left: 15px;
}

.slider .tooltip.top {
    margin-left: -16px !important;
}

.tooltip-inner {
    padding: 0 6px;
}

.slider-tick {

    width: 10px;
    height: 10px;
    top: 1px;
    background-image: -webkit-linear-gradient(top, #4846CA 0%, #072F46 100%);
    background-image: -o-linear-gradient(top, #4846CA 0%, #072F46 100%);
    background-image: linear-gradient(to bottom, #4846CA 0%, #072F46 100%);
}

.tipWarning {

    right: 50%;
    left: 50%;
    height: 50px;
    overflow: hidden;

    line-height: 50px;
    margin-top: 4px;
    position: absolute;
    font-size: 15px;
    color: #ed5565;
    padding: 0 10px;
}
@media screen and (max-width: 1190px) {
    .tipWarning {
        margin-left: -257px;
        width: 480px;
    }
}
@media screen and (min-width: 1190px) {
    .tipWarning {
       margin-left: -370px;
       width: 587px;
    }
}
.tipWarning span {
    position: absolute;
    left: 0px;
    top: 0px;
}

.edit_os{
    color: #0e9aef;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.editIpItem{
    height: 60px;
    line-height: 60px;
}
.editIpItem>h3{
    width: 120px;
    text-align: left;
    display: inline-block;
}
.editIpItem>select{
    width: 148px;
    height: 28px;
    border: 1px solid #ddd;
}
.searchContent{
    display: none;
        right: 0px;
    z-index: 100;
    background: #fff;
    width: 600px;
    height: 396px;
    position: absolute;
    top: 34px;
    font-size: 13px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.queryBox .searchShow{
        color: #676a6c;
    word-spacing: 2px;
    z-index: 2;
    position: absolute;
    top: 2px;
    right: 95px;
    width: 494px;
    height: 30px;
    background: #fff;
    line-height: 30px;
}
.queryBox .searchShow>span{
    color: #000;
}
.searchContent .search_item{
    display: inline-block;
    width: 350px;
    padding-left: 15px;
    padding-top: 10px;
    /*margin-bottom: 10px;*/
}
.searchContent .search_item>span{
    display: inline-block;
    margin-bottom: 10px;
    width: 80px;
    /*font-size: 14px;*/
    color: #1a2d41;
}

.searchContent .search_item .limitW{
    display: inline-block;
    width: 200px;
}